* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 2rem;
  color: #333;
  background-color: #f5ebe0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 100vh;
  background-color: #d5bdaf;
  border-radius: 5rem;
  box-shadow: 0 5rem 10rem rgba(0, 0, 0, 0.2);
  padding: 2.4rem;
  position: relative;
  margin-bottom: 2rem;
}

.status {
  text-align: center;
  font-size: 4.8rem;
}

.status-details {
  text-align: center;
  margin-bottom: 2.4rem;
}

.game-body {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.player,
.computer {
  padding: 2rem 2rem;
  width: 100%;
  color: #000;
  border-radius: 2rem;
}

.player {
  background-color: #e3d5ca;
}

.player-label,
.computer-label,
.player-score,
.computer-score {
  font-size: 3.2rem;
}

.computer {
  background-color: #d6ccc2;
}

.choice {
  font-size: 13rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btns {
  text-align: center;
}

.btn,
.new-game {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  /* color: #333; */
  font-weight: 900;
  border-radius: 1rem;
  transition: all 0.2s ease-out;
}

.btn {
  padding: 1rem 4rem;
  font-size: 5rem;
  background-color: #f7ede2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:hover,
.new-game:hover {
  cursor: pointer;
  background-color: rgb(11, 84, 85);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:active,
.new-game:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.disabled:disabled,
.disabled[disabled="disabled"] {
  /* background-color: black; */
  pointer-events: none;
}

.new-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  background-color: rgb(110, 161, 161);
  color: #ddd;
}

footer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: #777;
  letter-spacing: 0.15rem;
}

.git-logo {
  font-size: 2.5rem;
  color: #777;
}

.git-logo:hover,
.git-logo:active {
  color: #000;
  animation: github 0.5s infinite ease;
}

@keyframes github {
  0% {
    transform: rotate(-15deg) scale(1.2);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  100% {
    transform: rotate(-15deg) scale(1.2);
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 265px) {
  html {
    font-size: 20%;
  }
}
