* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  color: #fff;
  background-color: cadetblue;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.container {
  margin: 0 auto;
  width: 100vh;
  background-color: rgb(126, 126, 126);
  padding: 2.4rem 0;
}

.status {
  text-align: center;
}

.status-details {
  text-align: center;
  margin-bottom: 2.4rem;
}

.game-body {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.player,
.computer {
  padding: 2rem 2rem;
  width: 100%;
}

.player {
  background-color: rgb(102, 102, 102);
}

.computer {
  background-color: rgb(63, 63, 63);
}

.choice {
  font-size: 9rem;
  /* transform: rotate(90deg); */
}

.computers-choice {
  /* transform: rotate(-90deg); */
  /* transform: rotate(180deg); */
}

.players-choice {
  /* transform: rotate(180deg); */
}

.btns {
  text-align: center;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
